.modal-container {
  box-sizing: border-box;
  width: 70px;
  height: 60px;
  display: flex;
  justify-content: right;

  margin-bottom: 160px;
}

.rtd-button {
  position: absolute;
  width: 70px;
  height: 50px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 480px;
}
