@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

.container {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  margin-left: 20px;
}

.game-info {
  font-family: "Exo 2";
}

.rtd-button {
  width: 60px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.game-img {
  size: fixed;
  max-width: 150px;
  max-height: 250px;
  object-fit: contain;
  padding: 10px;
}
