.overlay {
  box-sizing: border-box;
  width: 360px;
  height: 460px;
  background: #f6dcac;
  border-radius: 3px;
  transition: 1.1s ease-out;
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.content {
  display: inline-block;
  justify-content: flex-start;
  margin: 10px;
}

.close {
  cursor: pointer;
  margin-top: 10px;
}
