@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

.reuseable-button {
  width: 200px;
  height: 50px;
  font-size: 18px;
  border-radius: 5px;
  font-family: "Exo 2";
  text-align: center;
  background-color: #dd683d;
  color: white;
  cursor: pointer;
  border: none;
  &:hover {
    background-color: #338790;
  }
}
