/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

/*CSS-reset*/
* {
  margin: 0;
  padding: 0;
}

/*Main grid container for the HOME-page.*/
.home-container {
  display: grid;
  width: 390px;
  height: 844px;
  grid-template-rows: 80px 50px 500px 70px 94px 50px;
  grid-template-columns: 422px 422px;
  grid-template-areas:
    "header header"
    "search search"
    "games games"
    "sellGame sellGame"
    "category category"
    "footer footer";
}

/*Footer*/
footer {
  width: 390px;
  height: 50px;
  background-image: linear-gradient(
    rgba(221, 104, 61, 1),
    rgba(119, 56, 33, 1)
  );

  color: white;
  font-family: "Exo 2", sans-serif;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;

  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 12px;
}
